<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.intellisea.oc.web.sales.dao.ContactMapper">
  <resultMap id="BaseResultMap" type="jp.co.intellisea.oc.web.sales.entity.Contact">
    <!--@mbg.generated-->
    <!--@Table contact-->
    <id column="id" jdbcType="INTEGER" property="contactId" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="mail" />
    <result column="employee_type" jdbcType="VARCHAR" property="duties" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "first_name", phone_number, email, employee_type
  </sql>
  <select id="selectByFuzzySearch" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_contact
    where
    lower(first_name) like concat('%', lower(#{search}), '%')
    or lower(phone_number) like concat('%', lower(#{search}), '%')
    or lower(email) like concat('%', lower(#{search}), '%')
    or lower(employee_type) like concat('%', lower(#{search}), '%')
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_contact
    where id = #{contactId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_contact
    where id = #{contactId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jp.co.intellisea.oc.web.sales.entity.Contact">
    <!--@mbg.generated-->
    insert into t_contact (id, first_name, last_name ,phone_number, 
      email, employee_type)
    values (#{contactId,jdbcType=INTEGER}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},  #{phoneNumber,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{duties,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jp.co.intellisea.oc.web.sales.entity.Contact">
    <!--@mbg.generated-->
    insert into t_contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contactId != null">
        id,
      </if>
      <if test="name != null">
        "first_name",
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="duties != null">
        duties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contactId != null">
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="duties != null">
        #{duties,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.intellisea.oc.web.sales.entity.Contact">
    <!--@mbg.generated-->
    update t_contact
    <set>
      <if test="name != null">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        email = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="duties != null">
        employee_type = #{duties,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{contactId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.intellisea.oc.web.sales.entity.Contact">
    <!--@mbg.generated-->
    update t_contact
    set "first_name" = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      email = #{mail,jdbcType=VARCHAR},
      employee_type = #{duties,jdbcType=VARCHAR}
    where id = #{contactId,jdbcType=INTEGER}
  </update>

  <select id="allContact" resultMap="BaseResultMap">

    select *
    from t_contact
  </select>
</mapper>